
@model Product;

<style>

    .product-card {
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 16px;
        margin: 20px auto;
        background-color: #fff;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        width: 600px;
    }


    .product-image {
        width: 150px;
        height: 200px;
        object-fit: cover;
        border-radius: 8px;
        margin: auto 0;
    }


    .product-details {
       width:400px;
    }


    .product-name {
        font-size: 24px;
        font-weight: bold;
        color: #333;
        margin-bottom: 8px;
    }

    .product-description {
        font-size: 16px;
        color: #777;
        margin-bottom: 12px;
    }

    .product-info {
        font-size: 18px;
        color: #555;
        margin-bottom: 12px;
    }

    .product-price {
        font-size: 20px;
        font-weight: bold;
        color: #27ae60;
        margin-bottom: 12px;
    }

    .product-dates {
        font-size: 16px;
        color: #999;
    }

    #back {
        display: inline-block;
        width:70px;
        background-color: #3498db;
        color: white;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 5px;
        text-align: center;
        margin-top: 16px;
        transition: background-color 0.3s;
    }

        #back:hover {
            background-color: #2980b9;
            cursor:pointer;
        }

</style>

<div id="container">
    <div class="product-card">
        <img src="/@Model.ImagePath" alt="Product Image" class="product-image">
        <div class="product-details">
            <div class="product-name">@Model.Name</div>
            <div class="product-description">@Model.Description</div>
            <div class="product-info">Amount: <strong>@Model.Amount</strong></div>
            <div class="product-price">Price: <strong>@Model.Price</strong></div>
            <div class="product-dates">
                Created At: @Model.CreatedAt <br>
                Updated At: @Model.UpdatedAt
            </div>
            @if(ViewBag.Category == "All")
            {
                <a id="back" asp-action="getProductsAtPadge" asp-route-padgeNumber="@ViewBag.padgeNumber">Back</a>
            }
            else
            {
                <a id="back" asp-action="getProductAtCategory" asp-route-Category="@ViewBag.Category" asp-route-padgeNumber="@ViewBag.padgeNumber">Back</a>
            }
        </div>
    </div>
</div>





