@using E_Commerce.ViewModel
@model UpdateProductVM


<style>
    .form {
        width: 350px;
        padding: 20px;
        background-color: gray;
        border-radius: 10px;
        margin: 1rem auto;
        opacity: .7;
    }

    .form-group input {
        background-color: rgba(246, 245, 245, 1);
        border: none;
        outline: none;
        padding: 10px 15px;
        border-radius: 10px;
        transition: 1s;
        margin: 10px auto;
        width: 85%;
        font-size: 20px;
    }

    .form label {
        font-weight: bold;
        display: block;
    }


    .form input:hover {
        transform: scale(1.05);
    }

    .form h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .form-group {
        margin: 10px 0;
    }

        .form-group select {
            background-color: rgba(246, 245, 245, 1);
            border: none;
            outline: none;
            padding: 10px 15px;
            border-radius: 10px;
            transition: 1s;
            margin: 10px auto;
            width: 93%;
            font-size: 20px;
        }

    textarea {
        background-color: rgba(246, 245, 245, 1);
        border: none;
        outline: none;
        padding: 5px;
        border-radius: 10px;
        transition: 1s;
        margin: 10px auto;
        width: 90%;
        height: 100px;
        font-size: 14px;
    }

    .buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
    }

        .buttons .btn {
            display: inline-block;
            padding: 8px 16px;
            border: none;
            outline: none;
            background-color: rgba(140, 51, 255, 1);
            margin: 0 10px;
        }

    .text-danger {
        color: red;
        font-size: 15px;
    }
</style>


<div id="container">
    <div class="form">
        <h2>Update Product</h2>
        <form asp-action="UpdateProduct" asp-route-PadgeNumber="@ViewBag.PadgeNumber" asp-route-Category="@ViewBag.Category" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>


            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" type="file" enctype="multipart/form-data" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>

            <div class="buttons">
                @if(ViewBag.Category == "All")
                {
                    <a class="btn" asp-action="getProductsAtPadge" asp-route-PadgeNumber="@ViewBag.PadgeNumber">Back</a>
                }
                else
                {
                    <a class="btn" asp-action="getProductAtCategory" asp-route-Category="@ViewBag.Category" asp-route-PadgeNumber="@ViewBag.PadgeNumber">Back</a>
                }
                <input class="btn" id="submitbutton" type="submit" value="Update" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}







