@using E_Commerce.ViewModel
@model ProductAtHomeVM


<a asp-action="getProductInformation" asp-route-Id="@Model.ProductId">
        <div class="card" >
            <img src="@Model.Image" alt="Product Image" />        
            <div class="card-content">
                <p class="card-title">@Model.Name</p>
                <p class="card-price">@Model.Price $</p>
                <div class="buttons">
                    <a asp-action="AddProductToWishList" asp-route-ProductId="@Model.ProductId" asp-controller="Wishlist" class="btn btn-success">WishList</a>
                    <a asp-action="AddProductToCart" asp-controller="Cart" asp-route-ProductId="@Model.ProductId" class="btn btn-success">Cart</a>
                </div>
            </div>  
        </div>
</a>



