@model IEnumerable<E_Commerce.Models.Category>



<link rel="stylesheet" href="~/css/getAllCategory.css" asp-append-version="true" /> 

<table>
    <thead>
        <tr>
            <th>Category</th>
            <th class="descriptionCategory">Description</th>
            <th>Amount</th>
            <th>Count</th>
            <th>Created At</th>
            <th>Updated At</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>

    @foreach (var category in Model)
    {
        <tr>
            <td>@category.Name</td>
            <td class="descriptionCategory">@category.Description</td>
            <td>@category.Amount</td>
            <td>@category.CountType</td>
            <td>@category.CreatedAt</td>
            <td>@category.UpdatedAt</td>
            <td><a id="btnCategory" asp-action="UpdateCategory" asp-route-Id="@category.CategoryId" asp-controller="Category">Update</a></td>
            <td><a id="btnCategory" asp-action="DeleteCategory" asp-route-Id="@category.CategoryId" asp-controller="Category">Delete</a></td>
        </tr>
    }
</table>
<a id="addCategory" asp-action="AddNewCategory" asp-controller="Category">Add New Category</a>


